  <div class="reviews">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h2>Reseñas</h2>
          <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-reviews" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-reviews" data-slide-to="1"></li>
              <li data-target="#carousel-reviews" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <p>Este es el mejor sandwich que he comido! Lo recomiendo totalmente, prueben el sandwich de pocho al almuerzo.</p>
              </div>
              <div class="item">
                <p>El helado esta de muerte. Asegurate de dejar un buen espacio para este magnifico postre.</p>
              </div>
              <div class="item">
                <p>Este es uno de los mejores lugares para tomar cafe en el que estado. Muy fresco y abre los ojos en la mañana para empezar de la mejor forma día.</p>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
