<div class="home-food">
  <div class="row">
    <div class="col-lg-3">
      <a href="menu.html">
        <img src="http://www.publicdomainpictures.net/pictures/110000/velka/salmon-sliders.jpg#.WQfTkJyAEK8.link" width="250" height="250" alt="Food Feature 1" class="img-circle">
      </a>
      <h4>Sandwich</h4>
    </div>
    <div class="col-lg-3">
      <a href="menu.html">
        <img src="http://www.publicdomainpictures.net/pictures/150000/velka/sweet-pudding.jpg#.WQfT7ExhNuc.link" width="250" height="250" alt="Food Feature 2" class="img-circle">
      </a>
      <h4>Helado</h4>
    </div>
    <div class="col-lg-3">
      <a href="menu.html">
        <img src="http://www.publicdomainpictures.net/pictures/30000/velka/shrimp-salad.jpg#.WQfUGYdg7os.link" width="250" height="250" alt="Food Feature 3" class="img-circle">
      </a>
      <h4>Ensalada</h4>
    </div>
    <div class="col-lg-3">
      <a href="menu.html">
        <img src="http://www.publicdomainpictures.net/pictures/210000/velka/latte-spider-web.jpg#.WQfUTQxE5p0.link" width="250" height="250" alt="Food Feature 4" class="img-circle">
      </a>
      <h4>Cafe</h4>
    </div>
  </div>
</div>
